<p class="text-black-50 h2 mb-2">Corporate Career</p>
<table class="table table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>Year</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Tata Consultancy Service (TCS)</td>
            <td>2018 Sept to Present</td>
            <td>Automation Tester</td>
        </tr>
    </tbody>
</table>
<br>

<p class="m-2 ml-3">Started my carrer with TCS where I was trained in BIPM (Bussiness Intelligence and Performance Management). <br> Post training I started working for CBA (Commonwealth Bank of Australia) where I was given the role of analyst and I was responsible for QA.<br> During first year of my project I was able to come up with a solution which helped my client save $20k annually.
</p>
<br>

<p class="text-black-50 h2 m-2">Academic Record</p>
<table class="table table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Academic Institute Name</th>
            <th>Year</th>
            <th>Grade/CGPA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>SRM University (B.Tech- ECE)</td>
            <td>2014-2018</td>
            <td>7.656</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Devi Academy (12th)</td>
            <td>2012-2014</td>
            <td>77.8%</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Pon Vidyasharam (10th)</td>
            <td>2010-2012</td>
            <td>8.6</td>
        </tr>
    </tbody>
</table>
