<header>
  <h1 class="text-danger text-center font-italic fixed-top mt-4">Birthday Invitation</h1>
</header>
<div class="form-group">
  <br><br><br><br>
  <div class="m-5" *ngIf=!show>
    <input class="form-control" type="text" placeholder="Enter name" [(ngModel)]="name">
    <button class="btn btn-outline-danger mt-3" (click)=switchVisibility()>Submit</button>
  </div>
  <div *ngIf=show>
    <div class="card text-center m-5">
      <div class="card-header">
          Namaste
      </div>
      <div class="card-body">
          <h4 class="card-title">Mr. {{ name }}</h4>
          <p class="card-text">We whole heartedly welcome you to the bday celebration of Mr. {{ firstName + " " + lastName }}</p>
      </div>
      <div class="card-footer text-muted">
          9th Nov, 7:30 A.M, at my home.
      </div>
    </div>
  </div>
</div>